<div id="u10" class="ax_default" style="z-index: 1001;">
  <div id="u10_state0" class="panel_state" data-label="State1">
    <div id="u10_state0_content" class="panel_state_content">

      <!-- Unnamed (HEader simple) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default flow_shape1">
        <div id="u12_div" ></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default paragraph" style="cursor: pointer;">
        <div id="u13_div" class="" tabindex="0"></div>
        <div id="u13_text" class="text ">
          <p><span>RMA - Relationship management</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u14" class="ax_default image">
        <img id="u14_img" class="img " src="assets/images/search/u14.png">
      </div>

      <!-- Unnamed (Group) -->
      <div id="u15" class="ax_default" data-left="1301" data-top="0" data-width="116" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u16" class="ax_default paragraph" style="cursor: pointer;">
          <div id="u16_div" class="" tabindex="0"></div>
          <div id="u16_text" class="text " style="top: 18px; transform-origin: 38px 7px;">
            <p><span>John Doe </span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u17" class="ax_default icon">
          <img id="u17_img" class="img " src="assets/images/search/u17.png">
        </div>
      </div>
    </div>
  </div>
</div>
