.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_3 {
}
.shape {
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#222222;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:20px;
  color:#7A6E67;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#7A6E67;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:#7A6E67;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#7A6E67;
  text-align:left;
}
.text1 {
  font-size:14px;
  color:#222222;
  text-align:left;
}
.flow_shape {
}
.line {
}
.swift_box_1 {
  color:#7A6E67;
}
.swift_box_2 {
}
.swift_heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#7A6E67;
  text-align:left;
}
.swift_label {
  font-size:13px;
  color:#222222;
  text-align:left;
}
.icon {
}
.table {
}
.swift_heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:28px;
  color:#7A6E67;
  text-align:left;
}
.paragraph {
  color:#7A6E67;
  text-align:left;
}
.swift_line {
}
.text_field {
  color:#222222;
  text-align:left;
}
.swift_text_field {
  color:#7A6E67;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.swift_text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#7A6E67;
  text-align:left;
}
.swift_droplist {
  color:#7A6E67;
  text-align:left;
}
.list_box {
  color:#7A6E67;
  text-align:left;
}
.swift_list_box {
  color:#7A6E67;
  text-align:left;
}
.checkbox {
  color:#7A6E67;
  text-align:left;
}
.swift_checkbox {
  color:#7A6E67;
  text-align:left;
}
.radio_button {
  color:#7A6E67;
  text-align:left;
}
.swift_radio_button {
  color:#7A6E67;
  text-align:left;
}
.tree_node {
  color:#7A6E67;
  text-align:left;
}
.swift_tree_node1 {
  color:#7A6E67;
  text-align:left;
}
.table_cell {
}
.swift_table_cell {
  color:#7A6E67;
  text-align:left;
}
.box_11 {
}
.box_2 {
}
.box_31 {
}
.swift_box_3 {
}
.ellipse {
}
.swift_ellipse {
}
.heading_11 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:28px;
  color:#7A6E67;
  text-align:left;
}
.heading_21 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#7A6E67;
  text-align:left;
}
.swift_heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#7A6E67;
  text-align:left;
}
.heading_31 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:#7A6E67;
  text-align:left;
}
.swift_heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:#7A6E67;
  text-align:left;
}
.heading_41 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:15px;
  color:#7A6E67;
  text-align:left;
}
.swift_heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:15px;
  color:#7A6E67;
  text-align:left;
}
.heading_51 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#7A6E67;
  text-align:left;
}
.label_bold {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#7A6E67;
  text-align:left;
}
.swift_label_bold {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#7A6E67;
  text-align:left;
}
.label {
  font-size:13px;
  color:#7A6E67;
  text-align:left;
}
.label_small {
  font-size:12px;
  color:#7A6E67;
}
.swift_lable_small {
  font-size:12px;
  color:#7A6E67;
  text-align:left;
}
.label_lighter_grey {
  font-size:12px;
  color:#A79C96;
}
.swift_label_lighter_grey {
  font-size:12px;
  color:#A79C96;
}
.label_input_field {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7A6E67;
  text-align:left;
}
.swift_label_input_field {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7A6E67;
  text-align:left;
}
.lavel_input_field_secundary {
  font-size:12px;
  color:#7A6E67;
}
.swift_label_input_field_secundary {
  font-size:12px;
  color:#7A6E67;
}
.greyed_out {
  color:#C9C4BE;
  text-align:left;
}
.swift_greyed_out {
  color:#C9C4BE;
  text-align:left;
}
.hint_text {
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#C9C4BE;
  text-align:left;
}
.swift_hint_text {
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#C9C4BE;
  text-align:left;
}
.flow_shape1 {
  color:#7A6E67;
}
.swift_flow_shape {
  color:#7A6E67;
}
.image {
  color:#7A6E67;
}
.swift_image {
  color:#7A6E67;
}
.placeholder {
}
.swift_placeholder {
}
.primary_button {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.swift_primary_button {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.secondary_button {
  font-size:13px;
  color:#009BBB;
}
.swift_secondary_button {
  font-size:13px;
  color:#009BBB;
}
.tertiary_button {
  font-size:13px;
  color:#009BBB;
}
.swift_tertiary_button {
  font-size:13px;
  color:#009BBB;
}
.shape1 {
  color:#7A6E67;
}
.swift_shape {
  color:#7A6E67;
}
.fill_in_field {
  font-size:13px;
  color:#333333;
}
.swift_fill_in_field {
  font-size:13px;
  color:#7A6E67;
  text-align:left;
}
.fontawesome {
}
.swfit_fontawesome {
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#7A6E67;
}
.horizontal_line {
}
.vertical_line {
}
.swift_check_button {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#7A6E67;
  text-align:left;
}
.swfit_tab_shape {
  font-size:15px;
  color:#7A6E67;
}
.swift_toggle_grey {
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
.swift_toggle_white {
  color:#CCCCCC;
}
.swift_toggle_light_green {
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
.swift_toggle_dark_green {
  color:#CCCCCC;
}
.swift_unvisible_box {
  color:#7A6E67;
}
.line1 {
}
.label1 {
  font-size:13px;
  color:#7A6E67;
  text-align:left;
}
.title_1 {
  font-family:'Arial Bold', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:28px;
  color:#7A6E67;
  text-align:left;
}
.image1 {
}
.text2 {
  color:#7A6E67;
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.shape2 {
}
.table_cell1 {
}
.placeholder1 {
}
.icon1 {
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
