<div id="u908" class="ax_default" data-left="0" data-top="0" data-width="601" data-height="40">

    <!-- Unnamed (Rectangle) -->
    <div class="ax_default swift_label button-wrapper prev" [ngClass]="currentPage>1 ? 'active': 'disabled'"
        (click)="goToPreviousPage()">
        <div class="text div-text">
            <p>
                <img class="img" [src]="currentPage>1 ? 'assets/images/many_search_results/chrevron_left_u920_selected.png': 'assets/images/many_search_results/chrevron_left_u920_disabled.png'" />
                <span>Previous page</span>

            </p>
        </div>
    </div>

    <!-- Rectangle (Rectangle) -->
    <div class="page-no-div-wrapper ax_default swift_box_1" (click)="clickedOnPageNumber(pages.pageNumber)"
        [ngClass]="pages.pageNumber === currentPage ? 'current-page':''" *ngFor="let pages of counterPartySearchResults"
        data-label="Rectangle">
        <div class="page-no-div" [ngClass]="pages.pageNumber === currentPage ? 'current-page':''"></div>
        <div class="page-no-text text">
            <p><span>{{pages.pageNumber}}</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div class="ax_default button-wrapper next"
        [ngClass]="currentPage < counterPartySearchResults.length ? 'active':'disabled'" (click)="goToNextPage()"
        data-left="489" data-top="2" data-width="112" data-height="38">
        <div class="text div-text">
            <p><span>Next page</span>
                <img class="img" [src]="currentPage < counterPartySearchResults.length ? 'assets/images/many_search_results/chevron_next_uxer_role_u918.png':'assets/images/many_search_results/chevron_next_uxer_role_u918.png'" />
            </p>
        </div>
        <!-- chevron next uxer role (Shape) -->


    </div>


</div>