<app-search-results-component *ngIf="isSearchClicked && !isDetailsClicked"
    (clickedAdvancedSearch)="showAdvancedSearch()"
    (detailsClicked)="showDetails($event)"
    ></app-search-results-component>
<app-search-component *ngIf="!isSearchClicked && !isDetailsClicked" (clickedAdvancedSearch)="showAdvancedSearch()"
     (clickedSearch)="showSearchResults()"></app-search-component>
<app-advanced-search-component *ngIf="isAdvancedSearchClicked && !isDetailsClicked"
    (closeAdvancedSearchClicked)="hideAdvancedSearch()"></app-advanced-search-component>
<app-counterparty-details-component *ngIf="isDetailsClicked" (backToList)="hideDetails()"
    [counterparty]="counterpartyClicked">
</app-counterparty-details-component>