<!-- Unnamed (Table) -->
<div class="ax_default list_wrapper">
  <!-- Unnamed (Rectangle) -->
  <div class="ax_default swift_heading_3 total_results_count">
    <div id="u553_div" class=""></div>
    <div id="u553_text" class="text ">
      <p><span>{{counterPartySearchResults.length}} results</span></p>
    </div>
  </div>
  <!-- Unnamed (Table Cell) -->
  <div class="table_header">
    <div class="ax_default swift_table_cell table_header_cell">
      <div class="text table_header_text" style="left: 24px;">
        <p><span>Counterparty</span></p>
      </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div class="ax_default swift_table_cell table_header_cell">
      <div class="text table_header_text">
        <p><span>My BIC</span></p>
      </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div class="ax_default swift_table_cell table_header_cell">
      <div class="text table_header_text">
        <p><span>Incoming traffic</span></p>
      </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div class="ax_default swift_table_cell table_header_cell">
      <div class="text table_header_text">
        <p><span>Outgoing traffic</span></p>
      </div>
    </div>
  </div>
  <!-- Results Table row -->
  <div *ngFor="let counterparty of counterPartySearchResults" class="table_row">
    <div class="ax_default swift_table_cell table_cell" style="cursor: pointer;"
      (click)="showDetails(counterparty)">
      <div class="text table_cell_text" style="left: 24px;">
        <p><span
            style="font-family:'Arial Bold', 'Arial';font-weight:700;color:#222222;">{{counterparty.correspondentBic}} -
            {{getBicByCode(counterparty.correspondentBic)?.institutionName}}</span></p>
        <p>
          <!-- Unnamed (Shape) -->
          <span id="u544" class="ax_default icon">
            <img id="u544_img" class="img " src="assets/images/search_results/u544.png" />
          </span>
          <span style="font-family:'Arial';font-weight:400;color:#666666; margin-left: 4px;">
            {{getBicByCode(counterparty.correspondentBic)?.branchCity}},
            {{getBicByCode(counterparty.correspondentBic)?.branchCountry}}</span>
        </p>
      </div>
    </div>
    <div class="ax_default swift_table_cell table_cell">
      <div class="text table_cell_text">
        <p id="cache2" style=""><span style="color: rgb(34, 34, 34);" id="cache3">{{counterparty.issuerBic}}</span></p>
        <p id="cache4" style="">
          <span id="u548" class="ax_default icon">
            <img id="u548_img" class="img " src="assets/images/search_results/u544.png" />
          </span>
          <span style="color: rgb(102, 102, 102); margin-left: 4px;"
            id="cache5">{{getMyBicByCode(counterparty.issuerBic)?.branchCity}},
            {{getMyBicByCode(counterparty.issuerBic)?.branchCountry}}</span>
        </p>
      </div>
    </div>

    <div class="ax_default swift_table_cell table_cell">
      <div class="text table_cell_text">
        <span class="ax_default icon auth_icon">
          <img class="img auth_icon_img" [src]="getImageSrcByCode(counterparty.inTraffic)" />
        </span>
        <div class="text auth_text">
          <p id="cache0" style="">
            <span id="cache1" style="">{{counterparty.inTraffic}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="ax_default swift_table_cell table_cell">
      <div class="text table_cell_text">
        <span class="ax_default auth_icon">
          <img class="img auth_icon_img" [src]="getImageSrcByCode(counterparty.outTraffic)">
        </span>
        <div class="text auth_text">
          <p id="cache20" style=""><span id="cache21" style="">{{counterparty.outTraffic}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>